<!DOCTYPE html>
<html>
  <head>
    <title>ProdCommApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!=-[if Lt IE 9]>
   <script src="//cdnjs.cLoudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
   </script>
  <![endif]-->  
  <body>
   <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
     <%= link_to "Product Comment Application", '#', id: "logo" %>
    <nav>
    <ul class="nav navbar-nav navbar-right">
     <li><%= link_to "Home", '#' %></li>
     <li><%= link_to "Help", "#' %></li>
     <li><%= link_to "Log in", "#" %></li>
   </ul>
   </nav>
  </div>
  </header>
   <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
